<ng-container *ngFor="let rq of requests, let i = index">
  <div class="col-sm-6 float-left mb-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" id={{i}}>{{rq.calle}}</h5>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
              <tr>
                  <th>Magna</th>
                  <th>Premium</th>
                  <th>Dieasel</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>${{rq.regular}} MXN.</td>
                  <td>${{rq.premium}} MXN.</td>
                  <ng-container *ngIf="rq.dieasel == ''">
                    <td>$0.00 MXN.</td>
                  </ng-container>
                  <ng-container *ngIf="rq.dieasel != ''">
                    <td>${{rq.dieasel}} MXN.</td>
                  </ng-container>
              </tr>
          </tbody>
      </table>
      <a class="btn btn-primary float-right">Maps</a>
      <a (click)="addToFavorite(i)" id={{i}} class="btn btn-secundary float-left mr-3">Agregar a favoritos</a>
      </div>
    </div>
  </div>
</ng-container>
