<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">

            <img class="col-lg-6 " src="../../../assets/img/da5078f2-43a1-448b-8ce1-0901156dae11.jpeg" alt="">
            <div class="col-lg-6 ">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                </div>
                <form class="user">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="InputUser" aria-describedby="userHelp" placeholder="Ingresa tu usuario..." name="nick_name" [(ngModel)]="userToLog.nick_name">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contraseña" name="password" [(ngModel)]="userToLog.password">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <a (click)="logIn()" class="btn btn-primary btn-user btn-block">
                    Login
                  </a>
                  <hr>
                  <ngb-alert *ngIf="logInMessage" type="danger" (close)="logInMessage = null">{{ logInMessage }}</ngb-alert>  
                </form>
                <div class="text-center">
                    <a class="small" [routerLinkActive]="['active']" [routerLink]="['/register']">Ya tienes cuenta? Inicia sesión!</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>